@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #e9e9e9; /*Lightest grey*/
    color: #20262b;/*dark grey*/
}
h1 {
    color: #e9e9e9;
    font-size: 2.8em;
}

h2 {
    color: #e9e9e9;
    font-size: 1.9em;
}

h3 {
    color: #e9e9e9;
    font-size: 1.9em;
    font-weight: 300;
}

.hero_banner {
    width: 100%
    float: left;
}

.hero_banner_buttons{
    height: 45px;
    background: rgba(233,233,233,0);
    border-color: #e9e9e9;
    border-width: 3px;
    color: #e9e9e9;
}

.article_banner{
    width: 100%
    float: left;
}


